In [2]:
name=input("enter your name:")
city=input("enter your city:")

In [3]:
age=input("enter your age")

In [5]:
x=int(input("enter a number A:"))
y=int(input("enter your number B:"))
x+y

25

In [6]:
a=9056577
a_str=str(a)

In [7]:
p=int(input("enter p"))
r=int(input("enter r"))
t=int(input("enter t"))
si= (p*r*t)/100.0

In [1]:
print("this is a string")

this is a string

In [8]:
print(x,y)

12 13

In [9]:
print("our numbers", x, y)

our numbers 12 13

In [10]:
print(x, y, name, age, city)

12 13 ananya 14 lucknow

In [11]:
print(x)
print(y)
print(name)
print(age)
print(city)

12
13
ananya
14
lucknow

In [13]:
print(x, y, name, age, city, sep="\n")

12
13
ananya
14
lucknow

In [15]:
print(x, y, name, age, city, sep="\n✔️")

12
✔️13
✔️ananya
✔️14
✔️lucknow

In [16]:
print("hi", end=",")

hi,

In [18]:
print(f"adding {x} with {y} will give {x+y}")

adding 12 with 13 will give 25

In [19]:
a = 10
b = 3
print(f"{a}/{b} = {a/b:.2f}")

10/3 = 3.33

In [20]:
a = 10
b = 3
print(f"{a}/{b} = {a/b:.3f}")

10/3 = 3.333

In [21]:
a = 10
b = 3
print(f"{a}/{b} = {a/b:.0f}")

10/3 = 3

In [23]:
a = 10
b = 3
print(f"{a}/{b} = {a/b:.10f}")

10/3 = 3.3333333333

In [24]:
print(f"name = {name}")
print(f"name = {age}")
print(f"name = {city}")

name = ananya
name = 14
name = lucknow

In [27]:
address = "ashiyana, lucknow"

In [30]:
print(f"name    =    {name}")
print(f"age     =    {age}")
print(f"city    =    {city}")
print(f"address =    {address}")

name    =    ananya
age     =    14
city    =    lucknow
address =    ashiyana, lucknow

In [35]:
print(f'{"name":10} = {name}')
print(f'{"age":10} = {age}')
print(f'{"city":10} = {city}')
print(f'{"address":10} = {address}')

name       = ananya
age        = 14
city       = lucknow
address    = ashiyana, lucknow

In [37]:
print(f'{"name":10} = {name:>35}')
print(f'{"age":10} = {age:>35}')
print(f'{"city":10} = {city:>35}')
print(f'{"address":10} = {address:>35}')

name       =                              ananya
age        =                                  14
city       =                             lucknow
address    =                   ashiyana, lucknow

In [38]:

a=float(input("enter r"))
b=float(input("enter t"))

In [45]:
hypotanuse = (sqrt(a^2+b^2))

NameError: name 'sqrt' is not defined