# python
for - step based (when we know no of steps or times OR traversing)
while - condition based (no of repeation is unknown OR a condition is known) 
## for temp in iterable; --> x='fresh'
     statement 1
     .
     .
     statement n
## iterables
     1 - string
     2 - list
     3 - tuple
     4 - set
     5 - dic
     6 - generaters -> range()

In [1]:
x=1023012
list(str(x))

['1', '0', '2', '3', '0', '1', '2']

In [4]:
kdrama = ['business propasal', 'crash landing on you', 'tale of nine taled' , 'true beauty', 'sound of magic', 'hapiness', 'snowdrop', 'nevertheless', 'myname', 'boysoverflower' ] 
print(len(kdrama))

10

In [5]:
for title in kdrama:
    print(f'{title:40} {len(title)} chars')

business propasal                        17 chars
crash landing on you                     20 chars
tale of nine taled                       18 chars
true beauty                              11 chars
sound of magic                           14 chars
hapiness                                 8 chars
snowdrop                                 8 chars
nevertheless                             12 chars
myname                                   6 chars
boysoverflower                           14 chars

In [6]:
for title in kdrama:
    if 'a'in title:
        print(f'{title:40} {len(title)} chars')

business propasal                        17 chars
crash landing on you                     20 chars
tale of nine taled                       18 chars
true beauty                              11 chars
sound of magic                           14 chars
hapiness                                 8 chars
myname                                   6 chars

In [7]:
for title in kdrama:
    if 'd'in title:
        print(f'{title:40} {len(title)} chars')

crash landing on you                     20 chars
tale of nine taled                       18 chars
sound of magic                           14 chars
snowdrop                                 8 chars

In [16]:
# nested loops
books = [
    ['Outlander', 'Diana Gabaldon', 10],
    ['Pride and Prejudice', 'Jane Austen', 10],
    ['The Notebook', 'Nicholas Sparks', 10],
    ['Beach Read', 'Emily Henry', 10],
    ['Vision in White', 'Nora Roberts', 10],
    ['Me Before You', 'Jojo Mayes', 10],
    ['Red White Royal Blue', 'Casey McQuiston', 10],
    ['Twilight', 'Stephenie Meyer', 10],
    ['The Proposal', 'Jasmine Guillory', 10],
    ['The Hating Game', 'Sally Thorne', 10]
]
print(len(books))

10

In [17]:
for book in books:
    for field in book:
        print(field)
    print()

Outlander
Diana Gabaldon
10

Pride and Prejudice
Jane Austen
10

The Notebook
Nicholas Sparks
10

Beach Read
Emily Henry
10

Vision in White
Nora Roberts
10

Me Before You
Jojo Mayes
10

Red White Royal Blue
Casey McQuiston
10

Twilight
Stephenie Meyer
10

The Proposal
Jasmine Guillory
10

The Hating Game
Sally Thorne
10

In [18]:
for book in books:
    print(book)
    print(f'title: {book[0]}')
    print(f'author: {book[1]}')
    print(f'rating: {book[2]}')
    print()

['Outlander', 'Diana Gabaldon', 10]
title: Outlander
author: Diana Gabaldon
rating: 10

['Pride and Prejudice', 'Jane Austen', 10]
title: Pride and Prejudice
author: Jane Austen
rating: 10

['The Notebook', 'Nicholas Sparks', 10]
title: The Notebook
author: Nicholas Sparks
rating: 10

['Beach Read', 'Emily Henry', 10]
title: Beach Read
author: Emily Henry
rating: 10

['Vision in White', 'Nora Roberts', 10]
title: Vision in White
author: Nora Roberts
rating: 10

['Me Before You', 'Jojo Mayes', 10]
title: Me Before You
author: Jojo Mayes
rating: 10

['Red White Royal Blue', 'Casey McQuiston', 10]
title: Red White Royal Blue
author: Casey McQuiston
rating: 10

['Twilight', 'Stephenie Meyer', 10]
title: Twilight
author: Stephenie Meyer
rating: 10

['The Proposal', 'Jasmine Guillory', 10]
title: The Proposal
author: Jasmine Guillory
rating: 10

['The Hating Game', 'Sally Thorne', 10]
title: The Hating Game
author: Sally Thorne
rating: 10