# Python is dynamically typed
- type of a variable is not determined until it is assigned a value

In [1]:
x = 10           # int
y = 12.12        # float
name = 'ananya'  # str
count = [1,2,3]  # list

# Operators in python
- Arithmetic operators	+, -, *, /, //, %, **
- Comparison operators	==, !=, <, <=, >, >=
- Logical operators	and, or, not
- Assignment operators	=, +=, -=, *=, /=, //=, %=, **=, <<=, >>=
- Bitwise operators	&, |, ^, ~, <<, >>
- Membership operators	in, not in
- Identity operators	is, is not

In [2]:
# Arithmetic Operators
x = 10
y = 5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x**y) # x raised to the power y
print(x//y) # integral division
print(x%y)

15
5
50
2.0
100000
2
0

In [4]:
# Comparison operators
print(x==y)
print(x!=y)
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)

False
True
False
False
True
True

In [1]:
# logical operators
a = True
b = False
print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

In [5]:
# Assignment operator
x = 5  
y = 4
print(x)
x += 3 # x = x + 3
print(x)
x -= 4 # x = x - 4
print(x)
x *= 2 # x = x * 2
print(x)
x /= 3 # x = x / 3
print(x) 
x //= 3 # x = x // 3
print(x)
x %= 10 # x = x % 10
print(x)
x **= 4 # x = x ** 4
print(x)
y <<= 1 # y = y << 2
print(y)
y >>= 1 # y = y >> 1
print(y)

5
8
4
8
2.6666666666666665
0.0
0.0
0.0
8
4

In [7]:
# bitwise operator
x = 5
y = 6
print( x & y)
print(x | y)
print(x ^ y)
print(x >> y)
print(x << y)
print(y >> x)
print(y << x)

4
7
3
0
320
0
192

In [8]:
# Membership operator
count = [1,2,3,4,5]
print(3 in count) # 'in' return true if object found else return false
print(3 not in count) # 'not in' return true if object not found else return false
print(6 in count)
print(6 not in count)
name = 'ananya'
print('an' in name)
print('an' not in name)
print('cn' in name)
print('cn' not in name)

True
False
False
True
True
False
False
True

In [10]:
# identity operator
x = [1,2,3] # 'is' Returns True if both variables refer to the same object, and False otherwise.
y = x
z = [1,2,3]
print(x is y)
print(x is z)
print(x is not y)
print (x is not z) # 'is not' Returns True if both variables do not refer to the same object, and False otherwise.

True
False
False
True

# Input Output in python

In [12]:
name = input('enter your name')
greeting = 'hello ' + name + ' ' + '!'
print(greeting)

hello ananya !

In [22]:
# formatting strings
name = ' ananya'
age = 20
print(f'My name is {name} and I am {age} year old')

# spacing
print(f"Name: {name:>3s}, Age: {age:<3d}")

# using end sep
x = 100
y = 1000
print(x, y, sep ='@')
print(x, y, end ='@')

My name is  ananya and I am 20 year old
Name:  ananya, Age: 20
100@1000
100 1000@

# Data types in python
- int	
- float	
- complex
- str
- list
- tuple
- range	
- bool
- set	
- frozenset

In [1]:

print("Numeric data types:")
print(type(1))  # int
print(type(3.14))  # float
print(type(2 + 3j))  # complex

print("Sequence data types:")
print(type([1, 2, 3]))  # list
print(type((1, 2, 3)))  # tuple
print(type(range(10)))  # range

print("Boolean data types:")
print(type(True))  # bool
print(type(False))  # bool

print("Set data types:")
print(type({1, 2, 3}))  # set
print(type(frozenset({1, 2, 3})))  # frozenset

print("Dictionary data types:")
print(type({"key1": "value1", "key2": "value2"}))  # dict

Numeric data types:
<class 'int'>
<class 'float'>
<class 'complex'>
Sequence data types:
<class 'list'>
<class 'tuple'>
<class 'range'>
Boolean data types:
<class 'bool'>
<class 'bool'>
Set data types:
<class 'set'>
<class 'frozenset'>
Dictionary data types:
<class 'dict'>

# built- in functions in python
- print()
- input()
- type()
- int() , float() , str() , bool() , list() , tuple() , set() dict()
- len()
- range()
- sum()
- min()
- max()
- sorted()
- map() [perfrom same operations on iterable elements], filter()
- ennumerate(), zip()
- help()
- open()
- all(), any()
- eval(), exrc()

In [2]:
# print()
print('hello world')
print(123)

hello world
123

In [3]:
# print()
name = input('enter your name')
print(f'My name is {name}')

My name is ananya

In [4]:
# type() - return data type of the value
print(type(1))
print(type(1.34))
print(type('hello'))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [6]:
# int(), float(), str(), bool()
print(int('123'))
print(float(123))
print(str(123.123))
print(bool(1))
print(bool(0))

123
123.0
123.123
True
False

In [7]:
# list()
print(list('hello world'))
print(list(range(10)))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# tuple()
print(tuple('hello world'))
print(tuple(range(10)))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [9]:
# dic()
print(dict(fname = 'ananya', sname = 'shukla'))

{'fname': 'ananya', 'sname': 'shukla'}

In [11]:
# len(), range()
count = ['1', '2', '4']
print(len(count))
print(range(5))
for i in range(5):
    print(i)

3
range(0, 5)
0
1
2
3
4

In [16]:
# sum(), min(), max(), sorted()
x = [1, 2, 3, 4]
print(sum(x))
print(min(x))
print(max(x))
y = [4, 5, 1, 6, 9, 0, 2]
print(sorted(y))
print(sorted(y, reverse = True))

10
1
4
[0, 1, 2, 4, 5, 6, 9]
[9, 6, 5, 4, 2, 1, 0]

In [23]:
# map()
num = [1, 2, 3, 4, 5, 6, 7]
print(list(map(lambda x: x * x, num)))

[1, 4, 9, 16, 25, 36, 49]